{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'news/view_news_post.css' %}">
  <h2>{{ new.title }}</h2>
  <p>{{ new.content }}</p>
  <div class="post-image">
    <img src="{{ new.photo.url }}" class="card-img-top">
  </div>


  {{ new.created_at }}

  {% if new.user == request.user %}
    <a href="{% url 'edit_news_post' slug=new.slug %}">Редактировать</a>
  {% endif %}

  <h4>Комментарии</h4>
  <div class="comments-section">
    {% for comment in comments %}
      <div class="comment">
        <p class="comment-user">Пользователь - {{ comment.user }}</p>
        <p class="comment-text">{{ comment.text }}</p>
        <p class="comment-created">Добавлен - {{ comment.created_at }}</p>
      </div>
    {% endfor %}
  </div>


  {% if user.is_authenticated %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Отправить</button>
    </form>
  {% else %}
    <h4>Чтобы оставить комментарий, авторизуйтесь</h4>
  {% endif %}

{% endblock %}

